<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GraphQl</title>
    <link rel="stylesheet" href="front-tools/css/style.css">
    <link rel="shortcut icon" href="front-tools/images/favicon.png">
    <script type="module" src="scripts/script.js" defer></script>
</head>

<body>
    <header>
        <div class="logo">
            <img src="front-tools/images/favicon.png">
        </div>
    </header>
    <div class="main"></div>
</body>

</html>